#Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 70vh;
    min-height: 50vw;

    background-color: #1E3F8E;
    background-image: linear-gradient(315deg, #1E3F8E 0%, #008A52 100%);
}

#Banner svg {
    position: absolute;
}

.Banner-slogan {
    padding-bottom: 25vw;
    overflow: hidden;
}

.Banner-slogan>h1 {
    font-size: 4em;
    font-weight: bold;
    font-family: 'Poppins';
    margin-bottom: 0;
    background-color: #eee;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.Banner-slogan>img {
    height: 2.5em;
    display: block;
    margin: 0 auto;
}

.Banner-slogan>.button {
    margin-top: 1em;
}

@media (max-width: 900px) {

    @media (max-height: 481px) {
        #Banner {
            height: 100vh;
        }
    }

    @media (max-height: 320px) {
        #Banner {
            height: calc(100vh + 25vw);
        }
    }
    
}

@media (min-width: 900px) {

    #Banner {
        height: 100vh;
    }

    .Banner-slogan>h1 {
        font-size: 6em;
    }

    .Banner-slogan>img {
        height: 4.5em;
    }
}
