.Body-triangle {
    height: 25vw;
    background-color: #eee;
}

.Body-triangle.top {
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    margin-top: calc(-25vw + 1px);

}

.Body-triangle.bottom {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    margin-bottom: calc(-25vw + 1px);
}

.Body-logo {
    min-height: 30vh;
}

.Body-logo>img {
    position: relative;
    width: 50vw;
    /* min-width: 50px; */
    max-width: 300px;
}

.Body-content {
    overflow: auto;
    min-height: 100vh;
    font-family: 'Poppins';
    padding: 0
}

@media (min-width: 768px) {
    .Body-logo>img {
        top: -25vw;
        margin-bottom: -25vw;
        width: 22vw;
    }
}

@media (min-width: 900px) {
    .Body-logo {
        min-height: 0px;
    }

    .Body-content {
        padding: 0 20%;
    }
}
