.Body-triangle {
    height: 25vw;
    margin-top: calc(-25vw + 1px);
    margin-bottom: calc(-25vw + 1px);
}

.Body-triangle.white {
    height: 10vw;
    background: whitesmoke;
    margin-top: calc(-10vw + 1px);
    margin-bottom: calc(-10vw + 1px);
}

.Body-triangle.top {
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    margin-bottom: 0;
}

.Body-triangle.bottom {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    margin-top: 0;
}

.Body-logo {
    min-height: 30vh;
}

.Body-logo>img {
    position: relative;
    width: 50vw;
    /* min-width: 50px; */
    max-width: 300px;
}

.Body-content {
    padding: 0;
}

.Body-content.white {
    background-color: whitesmoke;
}

@media (min-width: 768px) {
    .Body-logo>img {
        top: -25vw;
        margin-bottom: -25vw;
        width: 22vw;
    }
}

@media (min-width: 900px) {
    .Body-logo {
        min-height: 0px;
    }

    .Body-content {
        padding: 0 20%;
    }
}
