#Body {
    overflow: 'auto';
    position: relative;
    z-index: 1;
}

.Body-triangle {
    height: 25vw;
    margin: -25vw 0;
}

.Body-triangle.white {
    height: 10vw;
    margin: 0;
}

.Body-triangle.white>.clip {
    background: whitesmoke;
}

.Body-triangle.top {
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.24));
    margin-bottom: -1px;
}

.Body-triangle.top>.clip {
    height: 100%;
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
}

.Body-triangle.bottom {
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.24));
    margin-top: -1px;
}

.Body-triangle.bottom>.clip {
    height: 100%;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.Body-logo {
    min-height: 30vh;
}

.Body-logo>img {
    position: relative;
    width: 50vw;
    /* min-width: 50px; */
    max-width: 300px;
}

.Body-content {
    position: relative;
    z-index: 1;
    padding: 0;
}

.Body-content.white {
    background-color: whitesmoke;
}

.social {
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: space-evenly;
}

.social-hexagon-wrapper {
    display: flex;
    width: clamp(20px, 30vw, 150px);
    height: clamp(20px, 30vw, 150px);
    cursor: pointer;
}

.social-hexagon {
    position: relative;
    width: 46%;
    height: 80%;
    margin: auto;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
}

.social-hexagon-wrapper:nth-of-type(3n+1)>.social-hexagon {
    background: linear-gradient(-180deg, #058d8b, #005755);
}

.social-hexagon-wrapper:nth-of-type(3n+2)>.social-hexagon {
    background: linear-gradient(-180deg, #078b9c, #00545f);
}

.social-hexagon-wrapper:nth-of-type(3n)>.social-hexagon {
    background: linear-gradient(-180deg, #067296, #004961);
}

.social-hexagon i {
    z-index: 1;
    margin: auto;
    font-size: clamp(15px, 10vw, 40px);
    color: transparent;
    background: linear-gradient(-45deg, white, #bbb);
    background-clip: text;
    -webkit-background-clip: text;
}

.social-hexagon:before,
.social-hexagon:after {
    position: absolute;
    content: "";
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 0;
    transition: 0.5s;
    transform-origin: center;
}

.social-hexagon:before {
    transform: rotateZ(60deg);
}

.social-hexagon:after {
    transform: rotateZ(-60deg);
}

.social-hexagon:hover {
    border-radius: 20px;
    transition: 0.5s;
}

.social-hexagon:hover:before {
    border-radius: 20px;
    transition: 0.5s;
}

.social-hexagon:hover:after {
    border-radius: 20px;
    transition: 0.5s;
}


@media (min-width: 768px) {
    .Body-logo>img {
        top: -25vw;
        margin-bottom: -25vw;
        width: 22vw;
    }
}

@media (min-width: 900px) {
    .Body-logo {
        min-height: 0px;
    }

    .Body-content {
        padding: 0 20%;
    }
}