#Content {
    padding: 0;
}

.tab-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tab-content>* {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
}

.content-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 1.5em;
}

.hexa-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 8%;
}

.hexagon {
    position: relative;
    height: 0;
    width: 50%;
    padding-bottom: 50%;
    margin-bottom: -8%;
    clip-path: polygon(95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%, 50% 0);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.hexagon h1, .hexagon p {
    margin: 0;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #eee;
    -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
    transition: transform .2s ease-out, opacity .3s ease-out;
}

.hexagon h1 {
    padding-top: 50%;
    z-index: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hexagon h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.hexagon p {
    padding-bottom: 50%;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}


.hexagon:hover h1, .hexagon:focus h1,
.hexagon:hover p, .hexagon:focus p {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media (max-width: 900px) {
    .hexagon:nth-of-type(3n) {
        margin-left: 25%;
    }
}

@media (min-width: 380px) {
    .hexagon h1, .hexagon p {
        font-size: 1rem;
    }
}

@media (min-width: 600px) {
    .hexagon h1, .hexagon p {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {
    #Content {
        padding: 0 20%;
    }

    .hexagon h1, .hexagon p {
        font-size: 1rem;
    }

    .tab-content {
        display: flex;
        flex-direction: row;
    }

    .content-wrapper {
        width: 60%;
    }

    .hexa-wrapper {
        margin-bottom: 10%;
    }

    .hexagon {
        width: 66%;
        padding-bottom: 66%;
        margin-bottom: -10%;
    }

    .hexagon:nth-of-type(2n-1) {
        margin-left: 33%;
    }
}

@media (min-width: 1200px) {
    .hexagon h1, .hexagon p {
        font-size: 1.5rem;
    }
}