#FooterBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: max(30vh, 40vw);

    background-color: #00607b;
}

#FooterBanner svg {
    position: absolute;
}
