#HeaderBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 70vh;
    min-height: 50vw;

    background-color: #1E3F8E;
    background-image: linear-gradient(315deg, #1E3F8E 0%, #008A52 100%);
}

#HeaderBanner svg {
    position: absolute;
}

.HeaderBanner-slogan {
    padding-bottom: 25vw;
    overflow: hidden;
}

.HeaderBanner-slogan>h1 {
    font-size: 4em;
    font-weight: bold;
    font-family: 'Poppins';
    margin-bottom: 0;
    background-color: #eee;
    color: transparent;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.HeaderBanner-slogan>img {
    height: 2.5em;
    display: block;
    margin: 0 auto;
    padding-bottom: 2em;
    box-sizing: content-box;
    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}

.HeaderBanner-slogan>.button {
    margin-top: 1em;
}

@media (max-width: 900px) {

    @media (max-height: 481px) {
        #HeaderBanner {
            height: 100vh;
        }
    }

    @media (max-height: 320px) {
        #HeaderBanner {
            height: calc(100vh + 25vw);
        }
    }

}

@media (min-width: 900px) {

    #HeaderBanner {
        height: 100vh;
    }

    .HeaderBanner-slogan>h1 {
        font-size: 6em;
    }

    .HeaderBanner-slogan>img {
        padding-left: 2em;
        padding-right: 2em;
        height: 4.5em;
    }
}