#Presentation {
    position: absolute;
    width: 100%;
    margin-top: 8rem;
    z-index: 5;
    pointer-events: none;
}

@media (max-width: 900px) {
    #Presentation {
        display: none;
    }
}
