.App {
  text-align: center;
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.button {
  pointer-events: auto;
  cursor: pointer;
  background: transparent;
  border: 2px solid #eee;
  padding: 0.5rem 3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-slide {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: bold;
  font-size: 1rem;
  overflow: hidden;
  color: #eee;
  background: transparent;
}

.button-slide:hover {
  color: black;
}

.button-slide span {
  position: relative;
}

.button-slide::before {
  content: '';
  background: #eee;
  width: 130%;
  left: -15%;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button-slide:hover::before {
  transform: skew(30deg);
}

.bottom-fade-out {
  animation: bottomFadeOut 600ms;
}

@keyframes bottomFadeOut {
  0% {
    opacity: 0;
    transform: translate(0px, 10px);
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}